body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: grey;
  overflow: hidden;
}

#display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  padding: 0.5rem 1.5rem 1.2rem;
}

.keys-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem 0.8rem;
}

.drum-pad {
  background-color: #c0c0c0;
  padding: 2.5rem 2.5rem 1.5rem;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: black 3px 3px 5px;
  cursor: pointer;
}

.controls {
  text-align: center;
  padding-top: 2rem;
}

.ctrl-btn {
  display: inline-block;
  width: 3.5rem;
  height: 1.5rem;
  padding: 2px 2px;
  background-color: #000;
  position: relative;
}

.toggle-power, .toggle-bank {
  display: none;
}

.power-label {
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 35px;
  right: 2px;
  background-color: #fff;
  cursor: pointer;
  transition: 0.4s;
}

.bank-label {
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 35px;
  background-color: #fff;
  cursor: pointer;
  transition: 0.4s;
}

.toggle-power:checked + .power-label {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 35px;
}

.toggle-bank:checked + .bank-label {
  top: 2px;
  bottom: 2px;
  left: 35px;
  right: 2px;
}

.controls p {
  margin: 0 0 5px 0;
  font-weight: bold;
}

.viewer {
  display: flex;
  justify-content: center;
  margin-top: 1.4rem;
}

.viewer div {
  background-color: #c0c0c0;
  width: 10rem;
  height: 2rem;
  padding-top: 0.7rem;
  font-weight: bold;
}

.volume {
  margin: 1rem 0 1.2rem 0;
}